.background-effect{
    background-image: url(./images/background-effect.svg);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.background-block{
    background: url(./images/background.png);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-position: center center;
    background-size: cover;
}