button {
    background-color: whitesmoke; 
    border: none;
    color: white;
    padding: 14px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    color: darkblue;
  }


div.fixed-button {
    padding: 20px 30px;
}